<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="estilos.css"/>
	<h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
	<h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
	
	<f:event listener="#{masterBean.verificarSesion()}" type="preRenderView"></f:event>
	
	<title><ui:insert name="titulo">Citas Medicas - Inicio</ui:insert></title>
</h:head>
<body class="resolucion">
<ui:insert name="header">
	<p:menubar>
		<p:menuitem value="Citas Medicas" url="../protegido/citas-medicas.xhtml" icon="pi pi-cloud" />
		
 
        <p:submenu label="Mantenimiento" icon="fa fa-bug">
            <p:menuitem value="Secretaria" url="../protegido/secretarias.xhtml" icon="fas fa-users" />
            <p:menuitem value="Medicos" url="../protegido/medicos.xhtml" icon="pi pi-angle-double-right" />
            <p:menuitem value="Pacientes" url="../protegido/pacientes.xhtml" icon="pi pi-angle-double-right" />
        </p:submenu>
 
        <f:facet name="options">
            <p:commandButton  value="Cerrar Sesión" icon="pi pi-home" actionListener="#{masterBean.cerrarSesion()}" 
            action="index?faces-redirect=true" immediate="true"/>
        </f:facet>
    </p:menubar>
</ui:insert>

<ui:insert name="content"></ui:insert>

<ui:insert name="footer">
	<div>Copyright Freddy M, 2020 ESup2</div>
</ui:insert>

</body>

</html>