.resolucion{
	width: 850px; margin: 0 auto; 
}

.ui-widget{
	font-size: 82% !important;
}

.ui-widget .ui-widget{
	font-size: 100% !important;
}

body{
	font-family: lato;
	background-image: url("src/main/webapp/resources/images/backgroun.jpg");
	width: 100%;
}