<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 


<h:head>
	<link href="./resources/css/index.css" rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
<h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
	
	<style type="text/css">
    .ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell {
        text-align: center;
    }
 
    .customPanelGrid .ui-panelgrid-content {
        align-items: center;
    }
</style>
</h:head> 
<body> 
	<div class="registrarDiv" style="width: 400px">
		<h:form>	
		<p:growl id="growl" showDetail="true" sticky="true" />  		
			<p:panel>
				<f:facet name="header">Registro de Odontologo</f:facet>
				<p:panelGrid id="pg" columns="4" layout="tabular" styleClass="ui-panelgrid-blank ">
					<p:outputLabel for="txtNombres" value="Nombres"/>
					<p:inputText id="txtNombres" value="#{registrarBean.persona.nombres}" required="true"/>
					<p:message for="txtNombres" display="text"/>
					<h:column />
					
					<p:outputLabel for="txtApellidos" value="Apellidos"/>
					<p:inputText id="txtApellidos" value="#{registrarBean.persona.apellidos}" required="true"/>
					<p:message for="txtApellidos" display="text"/>
					<h:column />
					
					<p:outputLabel for="optSexo" value="Sexo"/>
					<p:selectOneRadio id="optSexo" value="#{registrarBean.persona.sexo}" required="true">
						<f:selectItem itemLabel="Masculino" itemValue="M"/>
						<f:selectItem itemLabel="Femenino" itemValue="F"/>
					</p:selectOneRadio>
					<p:message for="optSexo" display="text"/>
					<h:column />
					
					<p:outputLabel for="cboPais" value="Pais"/>
					<p:selectOneMenu id="cboPais" value="#{registrarBean.persona.pais}" filter="true" filterMatchMode="contains" required="true">
						<f:selectItem noSelectionOption="true" value="#{null}" itemLabel="---Seleccione---"/>
						<f:selectItems value="#{paisDTO.paises}" var="p" itemLabel="#{p}" itemValue="#{p}"/>
					</p:selectOneMenu>
					<p:message for="cboPais" display="text"/>
					<h:column/>
					
					<p:outputLabel for="txtDireccion" value="Direccion"/>
					<p:inputTextarea id="txtDireccion" value="#{registrarBean.persona.direccion}" counter="display" rows="5" cols="30" 
					maxlength="250" counterTemplate="{0} caracteres restantes." 
					autoResize="false" required="true"/>
					<p:message for="txtDireccion" display="text"/>
					<h:column/>
					
					<h:column/>
					<h:outputLabel id="display" />
					<h:column/>
					<h:column/>
					
					<p:outputLabel for="txtUsuario" value="Usuario"/>
					<p:inputText id="txtUsuario" value="#{registrarBean.usuario.usuario}" required="true"/>
					<p:message for="txtUsuario" display="text"/>
					<h:column/>
					
					<p:outputLabel for="pwd1" value="Clave 1"/>
					<p:password id="pwd1" value="#{registrarBean.usuario.clave}" label="Password 1" match="pwd2" required="true" validatorMessage="Claves no coinciden"/>
					<p:message for="pwd1" display="text"/>
					<h:column/>
					
					<p:outputLabel for="pwd2" value="Clave 2"/>
					<p:password id="pwd2" label="Password 2" required="true"/>
					<h:column/>
					<h:column/>
					
				</p:panelGrid>
				<p:commandButton value="Inicio" action="index?faces-redirect=true" immediate="true"/>
				<p:commandButton value="Registrar" action="#{registrarBean.registrar()}" update="@form" icon="fas fa-save"/>
			</p:panel>
			

		</h:form>
	</div>
</body> 
</html>
