<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
		<h1>Reporte Citas Odontologicas</h1>
		<h:form id="form" enctype="multipart/form-data">
			<p:commandButton value="Nuevo" oncomplete="PF('wdlg').show();"
				actionListener="#{citaBean.limpiarControles()}" update=":form:dlg"
				process="@this" />

			<p:dataTable id="dt" var="c" value="#{citaBean.listaCitas}" rows="5"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">

				<p:column headerText="ID">
					<p:outputLabel value="#{c.id}" />
				</p:column>

				<p:column headerText="MEDICO">
					<p:outputLabel value="#{c.medico.persona.nombres}" />
				</p:column>

				<p:column headerText="PACIENTE">
					<p:outputLabel value="#{c.paciente.persona.nombres}" />
				</p:column>
				
				<p:column headerText="ESTADO">
					<p:outputLabel value="#{c.estado}" />
				</p:column>

				<p:column headerText="Acciones" exportable="false">
					<p:commandLink actionListener="#{citaBean.mostrarData(c)}"
						oncomplete="PF('wdlg').show()" update=":form:dlg" immediate="true"
						process="@this">
						<h:graphicImage library="images" name="edit.jpg" />
					</p:commandLink>
				</p:column>

			</p:dataTable>

			<p:dialog id="dlg" header="#{citaBean.tipoDialogo}" widgetVar="wdlg"
				modal="true" closeOnEscape="true" resizable="false" draggable="true">
				<h:panelGrid id="pg" columns="2">
				<p:outputLabel value="Medico" />
					<p:selectOneMenu value="#{citaBean.cita.medico}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="---Seleccione---" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems value="#{citaBean.listaMedicos}" var="e"
							itemValue="#{e}" itemLabel="#{e.persona.nombres} #{e.persona.apellidos}" />
					</p:selectOneMenu>

					<p:outputLabel value="Paciente" />
					<p:selectOneMenu value="#{citaBean.cita.paciente}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="---Seleccione---" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems value="#{citaBean.listaMedicos}" var="e"
							itemValue="#{e}" itemLabel="#{e.persona.nombres} #{e.persona.apellidos}" />
					</p:selectOneMenu>

					<p:outputLabel for="txtHora" value="Hora"/>
					<p:inputText id="txtHora" value="#{citaBean.cita.hora}" />
					<p:message for="txtHora" display="icon"/>
					
					<p:outputLabel for="txtFecha" value="Fecha"/>
					<p:inputText id="txtFecha" value="#{citaBean.cita.fecha}" />
					<p:message for="txtFecha" display="icon"/>
					
					<p:outputLabel for="cboEstado" value="Estado" />
					<p:selectOneButton id="cboEstado" value="#{citaBean.cita.estado}"
						required="true">
						<f:selectItem itemLabel="ATENDIDA" itemValue="ATENDIDA" />
						<f:selectItem itemLabel="SIN ATENDER" itemValue="SIN ATENDER" />
					</p:selectOneButton>

				</h:panelGrid>
				<p:commandButton value="Registrar"
					actionListener="#{citaBean.operar('R')}" ajax="true"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()"
					update="pg, dt"
					rendered="#{citaBean.tipoDialogo == 'Nueva Cita'}" />
				<p:commandButton value="Modificar"
					actionListener="#{citaBean.operar('M')}" ajax="true"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()"
					update="pg, dt"
					rendered="#{citaBean.tipoDialogo == 'Modificar Cita'}" />
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>