<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
	<h1>Odontologos</h1>
		<h:form id="form" enctype="multipart/form-data">
			<p:commandButton value="Nuevo" oncomplete="PF('wdlg').show();" actionListener="#{medicoBean.limpiarControles()}" update=":form:dlg" process="@this"/>
			
			<p:dataTable id="dt" var="u" value="#{medicoBean.listaMedicos}" rows="5"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">
                 
                 <p:column headerText="Nombres Completos">
                 	<p:outputLabel value="#{u.persona.nombres} - #{u.persona.apellidos}"/>
                 </p:column>
                 
                 <p:column headerText="Sexo">
                 	<p:outputLabel value="#{u.persona.sexo.equals('M') ? 'MASCULINO' : 'FEMENINO'}"/>
                 </p:column>
                 
                  
                 <p:column headerText="Pais">
                 	<p:outputLabel value="#{u.persona.pais}"/>
                 </p:column>
			</p:dataTable>
			
			<p:dialog id="dlg" header="#{medicoBean.tipoDialogo}" widgetVar="wdlg" modal="true" closeOnEscape="true" resizable="false" draggable="true">
				<h:panelGrid id="pg" columns="3">
					<p:outputLabel for="txtNombres" value="Nombres"/>
					<p:inputText id="txtNombres" value="#{medicoBean.persona.nombres}" required="true"/>
					<p:message for="txtNombres" display="icon"/>
					
					<p:outputLabel for="txtApellidos" value="Apellidos"/>
					<p:inputText id="txtApellidos" value="#{medicoBean.persona.apellidos}" required="true"/>
					<p:message for="txtApellidos" display="icon"/>
					
					<p:outputLabel for="cboSexo" value="Sexo" />
					<p:selectOneButton id="cboSexo" value="#{medicoBean.persona.sexo}" required="true">
            			<f:selectItem itemLabel="MASCULINO" itemValue="M" />
            			<f:selectItem itemLabel="FEMENINO" itemValue="F" />
        			</p:selectOneButton>
					<p:message for="cboSexo" display="icon" />
					
					<p:outputLabel  for="txtDireccion" value="Direccion"/>
					<p:inputText id="txtDireccion" value="#{medicoBean.persona.direccion}"/>
					<p:message for="txtDireccion" display="icon"/>
					
					
					<p:outputLabel for="cboPais" value="Pais" />
					<p:selectOneMenu id="cboPais" value="#{medicoBean.persona.pais}" filter="true" filterMatchMode="contains" required="true">
						<f:selectItem noSelectionOption="true" value="#{null}" itemLabel="--Seleccione--"/>
						<f:selectItems value="#{paisDTO.paises}" var="p" itemLabel="#{p}" itemValue="#{p}" />
					</p:selectOneMenu>
					<p:message for="cboPais" display="icon" />
					
					<p:outputLabel for="txtUsuario" value="Usuario"/>
					<p:inputText id="txtUsuario" value="#{medicoBean.usuario.usuario}" required="true"/>
					<p:message for="txtUsuario" display="text"/>
					<h:column/>
					
					<p:outputLabel for="pwd1" value="Clave 1"/>
					<p:password id="pwd1" value="#{medicoBean.usuario.clave}" label="Password 1" match="pwd2" required="true" validatorMessage="Claves no coinciden"/>
					<p:message for="pwd1" display="text"/>
					<h:column/>
					
					<p:outputLabel for="pwd2" value="Clave 2"/>
					<p:password id="pwd2" label="Password 2" required="true"/>
					<h:column/>
					<h:column/>
					
				</h:panelGrid>

				
				<p:commandButton value="Registrar" actionListener="#{medicoBean.registrar()}" ajax="true" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()" update="pg, dt" rendered="#{medicoBean.tipoDialogo == 'Nuevo Medico'}"/>
			</p:dialog>
			
			
			
		</h:form>
	</ui:define>
</ui:composition>
<!--  <p:fileUpload id="puFoto" value="#{personaBean.foto}" mode="simple" skinSimple="true" label="Examinar..."/> -->
</html>