<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
	<h1>Pacientes</h1>
		<h:form id="form" enctype="multipart/form-data">
			<p:commandButton value="Nuevo" oncomplete="PF('wdlg').show();" actionListener="#{pacienteBean.limpiarControles()}" update=":form:dlg" process="@this"/>
			
			<p:dataTable id="dt" var="u" value="#{pacienteBean.listaPacientes}" rows="5"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">
                 
                 <p:column headerText="Nombres Completos">
                 	<p:outputLabel value="#{u.persona.nombres} - #{u.persona.apellidos}"/>
                 </p:column>
                 
                 <p:column headerText="Sexo">
                 	<p:outputLabel value="#{u.persona.sexo.equals('M') ? 'MASCULINO' : 'FEMENINO'}"/>
                 </p:column>
                 
                  
                 <p:column headerText="Pais">
                 	<p:outputLabel value="#{u.persona.pais}"/>
                 </p:column>
			</p:dataTable>
			
			<p:dialog id="dlg" header="#{pacienteBean.tipoDialogo}" widgetVar="wdlg" modal="true" closeOnEscape="true" resizable="false" draggable="true">
				<h:panelGrid id="pg" columns="3">
					<p:outputLabel for="txtNombres" value="Nombres"/>
					<p:inputText id="txtNombres" value="#{pacienteBean.persona.nombres}" required="true"/>
					<p:message for="txtNombres" display="text"/>
					
					
					<p:outputLabel for="txtApellidos" value="Apellidos"/>
					<p:inputText id="txtApellidos" value="#{pacienteBean.persona.apellidos}" required="true"/>
					<p:message for="txtApellidos" display="text"/>
					
					
					<p:outputLabel for="optSexo" value="Sexo"/>
					<p:selectOneRadio id="optSexo" value="#{pacienteBean.persona.sexo}" required="true">
						<f:selectItem itemLabel="Masculino" itemValue="M"/>
						<f:selectItem itemLabel="Femenino" itemValue="F"/>
					</p:selectOneRadio>
					<p:message for="optSexo" display="text"/>
					
					
					<p:outputLabel for="cboPais" value="Pais"/>
					<p:selectOneMenu id="cboPais" value="#{pacienteBean.persona.pais}" filter="true" filterMatchMode="contains" required="true">
						<f:selectItem noSelectionOption="true" value="#{null}" itemLabel="---Seleccione---"/>
						<f:selectItems value="#{paisDTO.paises}" var="p" itemLabel="#{p}" itemValue="#{p}"/>
					</p:selectOneMenu>
					<p:message for="cboPais" display="text"/>
					
					
					<p:outputLabel for="txtDireccion" value="Direccion"/>
					<p:inputTextarea id="txtDireccion" value="#{pacienteBean.persona.direccion}" counter="display" rows="5" cols="30" 
					maxlength="250" counterTemplate="{0} caracteres restantes." 
					autoResize="false" required="true"/>
					<p:message for="txtDireccion" display="text"/>
					
					
					<h:column/>
					<h:outputLabel id="display" />
					<h:column/>
					
					
					<p:outputLabel for="txtUsuario" value="Usuario"/>
					<p:inputText id="txtUsuario" value="#{pacienteBean.usuario.usuario}" required="true"/>
					<p:message for="txtUsuario" display="text"/>
					
					
					<p:outputLabel for="pwd1" value="Clave 1"/>
					<p:password id="pwd1" value="#{pacienteBean.usuario.clave}" label="Password 1" match="pwd2" required="true" validatorMessage="Claves no coinciden"/>
					<p:message for="pwd1" display="text"/>
							
					<p:outputLabel for="pwd2" value="Clave 2"/>
					<p:password id="pwd2" label="Password 2" required="true"/>
				</h:panelGrid>
				<p:commandButton value="Registrar" actionListener="#{pacienteBean.registrar()}" ajax="true" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()" update="pg, dt" rendered="#{pacienteBean.tipoDialogo == 'Nuevo Paciente'}"/>
			</p:dialog>
			
			
			
		</h:form>
		<h:form>
			<h:commandLink value="Excel" >
				<p:dataExporter type="xls" target=":form:dt" fileName="personas"></p:dataExporter>
			</h:commandLink>
			
			<h:commandLink value="PDF" >
				<p:dataExporter type="pdf" target=":form:dt" fileName="personas"></p:dataExporter>
			</h:commandLink>
		</h:form>
	</ui:define>
</ui:composition>
</html>